@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
a:link {
  text-decoration: none;
  outline: none;
  transition: all 0.25s;
}
.title {background: #333;
  color:#fcfcfc;
  max-width: 700px;
  width:100%;
  margin: 5% auto;
  padding: 5px;
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  font-family: 'Open Sans', sans-serif;
  text-transform:uppercase;text-align:center;
}
a:visited,
a:link:hover,
a:visited:hover {
  text-decoration: none;
}

body {
  background: #eaeaea none repeat scroll top left;
  color: #444;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: normal;
}

.container {
  background: #fff;
  max-width: 320px;
  margin: 5% auto;
  padding: 10px;
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  font-family: 'Open Sans', sans-serif;
}
.containerb{
  background: #fff;
  width:100%;
  max-width: 600px;
  margin: 5% auto;
  padding: 10px;
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  font-family: 'Open Sans', sans-serif;
}
/* Recent Post Navigasi */

#recentpostnav {
  border: 1px solid #585858;
  width: 100%;
  margin: 0 auto;
}

#recentpostsae {
  margin: 0px;
}

.recentpostel {
  background: #fff;
  display: block;
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 10px;
  height: 79px;
}

.recentpostel img {
  background: #fff;
  padding: 4px;
  float: left;
  height: 70px;
  margin-right: 8px;
  width: 70px;
  border: 1px solid #ddd;
}

.recentpostel h6,
.recentpostel h6 a {
  text-decoration: none;
  font-size: 13px!important;
  font-weight: 700!important;
  margin: 0;
  color: #111;
}

.recentpostel:hover {
  background-color: #fefefe;
}

.recentpostel p {
  font-size: 12px;
  text-align: left;
  color: #555;
  line-height: normal;
  margin: 5px 0;
}

#recentpostload {
  color: #888;
  font-family: Tahoma;
  font-size: 100px;
  letter-spacing: -10px;
  text-align: center;
  text-shadow: -5px 0 1px #444;
  background: #fff url(http://2.bp.blogspot.com/-60aISBQLRY0/VFBMqzLfzGI/AAAAAAAABgM/GInmVTvEzkc/s1600/loader.gif) no-repeat 50% 50%;
  height: 470px;
  border: 1px solid #ddd;
}

#recentpostnavfeed {
  border: 1px solid #ddd;
  color: #bbb;
  font-family: Verdana;
  font-size: 12px;
  text-align: center;
  margin: 0px;
}

#recentpostnavfeed:hover {
  background-color: #fefefe;
}

#recentpostnavfeed a {
  color: #141414!important;
  font-family: Tahoma!important;
  font-size: 12px!important;
  font-weight: 400!important;
  display: block;
  padding: 5px 10px;
}

#recentpostnavfeed span {
  padding: 5px 10px;
}

#recentpostnavfeed .next {
  float: right;
}

#recentpostnavfeed .previous {
  float: left;
}

#recentpostnavfeed .home {
  text-align: center;
}

#recentpostnavfeed a:hover,
#recentpostnavfeed span.noactived {
  color: transparant!important;
}
/* CSS Share Button */
.social-share{display:block;position:relative;height:43px;line-height:43px;padding:10px;border-top:1px solid #dadada;border-bottom:1px solid #dadada;margin:auto}
.social-share-fb,.social{float:left;width:21%;padding:0 10px;height:inherit}
.social-share-tw,.social,.social-lk{float:left;width:21%;height:inherit;padding:0 10px;border-left:solid 1px #dadada}
.social-fb,.social-tw,.social-gp,.social-lin,.social-pi{float:left;display:block;background:url('http://4.bp.blogspot.com/-vLwRBNvUkfg/VX7v8vgGrSI/AAAAAAAAD80/w7Xfb-iimLM/s1600/share-social.png') no-repeat;width:42px;height:41px;margin-right:3px}
.social-fb-label{color:#2d609b}
.social-fb-label,.social-tw-label,.social-gp-label,.social-lin-label{float:left;width:58px;height:inherit;font-size:12px;font-family:'Open Sans Bold',Arial,sans-serif;line-height:14px;margin:5px 0 0 4px}
.social-tw{background-position:0 -43px}
.social-tw-label{color:#00c3f3}
.social-gp{background-position:0 -86px}
.social-gp-label{color:#f00}
.social-lin{background-position:0 -129px}
.social-share a{color:#999;transition:all .3s;}
.social-share a:hover{color:#7cb0ed}
.containerc {
  max-width: 1100px;
  margin: 12% auto;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
/* Multi Feed Label */

.post-body *,
.post-body *:after,
.post-body *:before {
  box-sizing: initial;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
}

.list-entries {
  display: table;
  background: #fdfdfd;
  margin: 1.5% 1%;
  width: 31.3%;
  float: left;
  font-size: 80%;
}

.list-entries ul,
.list-entries li {
  margin: 0;
  list-style: none
}

#feed-list-container ul li {
  background: #fdfdfd;
  padding: 15px;
  line-height: normal;
  border: 1px solid #eee;
  border-top: 0;
  transition: all .3s;
}

#feed-list-container ul li:hover {
  background: #fff;
}

#feed-list-container ul li:last-child {
  border-bottom: 0;
}

.list-entries .main-title {
  padding: 0;
  overflow: hidden;
}

.list-entries .main-title h4 {
  position: relative;
  display: block;
  font: inherit;
  font-weight: 700;
  padding: 1em 1.5em;
  background-color: #4f93c5;
  color: #fff;
  margin: 0;
  line-height: normal;
  font-size: 120%;
  margin-top: 0!important
}

.list-entries .main-title h4:after {
  display: inline-block;
  content: "\f02c";
  font-family: fontAwesome;
  font-size: 17.4px;
  font-style: normal;
  background-color: #4384b3;
  color: #fff;
  top: 0;
  right: 0;
  padding: 1em 1.25em;
  position: absolute;
  font-weight: 400
}

.list-entries .title a {
  font-size: 13px;
  text-decoration: none;
  line-height: .5em;
  color: #333;
  font-weight: 700;
  transition: all .3s;
}

.list-entries .title a:hover {
  color: #4f93c5
}

.list-entries img,
.list-entries .fake-img {
  border: none;
  background-color: #333;
  margin: 0 1em 0 0;
  padding: 0;
  float: left
}

.list-entries .summary {
  overflow: hidden;
  color: #999
}

.list-entries .more-link {
  border-bottom: none;
}

.list-entries .more-link a {
  display: block;
  line-height: 2em;
  height: 2em;
  overflow: hidden;
  text-decoration: none;
  background-color: #444;
  padding: 1em 1.5em;
  position: relative;
  font-weight: 400;
  color: #fff;
  transition: all .3s;
}

.list-entries .more-link a:hover {
  background-color: #f97e76;
  color: #fff;
}

.list-entries .more-link a:after {
  display: inline-block;
  content: "\f054";
  font-family: fontAwesome;
  font-size: 16.4px;
  font-style: normal;
  background-color: #333;
  color: #ccc;
  top: 0;
  right: 0;
  padding: 1em 1.25em;
  position: absolute;
  font-weight: 400;
  transition: all .3s;
}

.list-entries .more-link a:hover:after {
  background-color: #ea726a;
  color: #fff;
}

#Blog1 {
  margin-right: 0;
}

#main-wrapper {
  width: 100%;
}

#sidebar-wrapper {
  display: none;
}

.breadcrumbs,
.post.hentry {
  background: transparent;
}

h2.post_title.entry-title,
.breadcrumbs {
  margin-bottom: 0;
  padding: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.post.hentry {
  padding-top: 0;
}

.widget .post-body ul,
.widget .post-body ol {
  position: relative;
}

@media (max-width:640px) {
  .list-entries {
    width: 100%;
  }
  .list-entries {
    margin: 2.5% 1%;
  }
  .containerc {
    padding: 20px;
  }
}
